<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perfect_apps.tawsili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_R6sFYHpV7nT6Y4rjcyDRJ52fGw5i1GM" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AskForEmailActivity"
            android:label="@string/title_activity_ask_for_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AskForVerificationCodeActivity"
            android:label="@string/title_activity_ask_for_verification_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PickLocationActivity"
            android:label="@string/title_activity_pick_location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>