<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.perfect_apps.tawsili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- receive message -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission-group
        android:name="android.permission-group.LOCATION"
        android:description="@null"
        android:label="A label for your permission" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_R6sFYHpV7nT6Y4rjcyDRJ52fGw5i1GM" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AskForEmailActivity"
            android:label="@string/title_activity_ask_for_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AskForVerificationCodeActivity"
            android:label="@string/title_activity_ask_for_verification_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PickLocationActivity"
            android:label="@string/title_activity_pick_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InviteFriendActivity"
            android:label="@string/title_activity_invite_friend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BookABusinessCarActivity"
            android:label="@string/title_activity_book_abusiness_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.YourRideActivity"
            android:label="@string/title_activity_your_ride"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FavoritePlacesActivity"
            android:label="@string/title_activity_favorite_places"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.SelectTimeActivity"
            android:label="@string/title_activity_select_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- for network connection -->

        <service android:name=".services.ReconnectGoogleApiClient" />
        <!-- Broadcast Receiver to handle changes in Network state -->
        <receiver android:name=".services.ReconnectGoogleApiClient$AlarmReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ConfirmPickLocationActivity"
            android:label="@string/title_activity_confirm_pick_location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>